.theme-list
  - if @themes.present?
    ul.themes
      - @themes.each do |theme|
        li.theme
          .title
            p = theme.title
          .content
            p = theme.content
          .kind
            p = theme.kind
  - else
    | テーマの候補がないよー勉強会しようよー😩😩😩
