.theme-list
  h2 勉強会テーマの候補
  - if @themes.present?
    ul
    - @themes.each do |theme|
      li
        .title
          p = theme.title
        .kind
          p = theme.kind
        .content
          p = theme.content
  - else
    | テーマの候補がないよー勉強会しようよー😩😩😩

  p = link_to "投稿する", action: :post_theme
  p = link_to "テーマを決定する", action: :decision_candidate
